* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #E0DEDE,  #DBC4F0);
}

.header {
  background-color: #5F0690;
  padding: 15px 0;
  border-radius: 6px 6px 0 0;
}

#title, #description {
  color: #EEEEEE;
  text-align: center;
}

#title {
  font-family: Trebuchet MS;
  font-size: 2.7rem;
}

#description {
  font-family: Geneva;
  margin-top: 5px;
}

#map-container {
  background: #EEEEEE;
  padding: 30px 50px 0;
  border-radius: 0 0 6px 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

#tooltip {
  font-family: Trebuchet MS;
  position: absolute;
  color: #EBEBEB;
  background-color: #301B3F;
  padding: 5px 10px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}